.search-container {
    margin-bottom: 5px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .main-container{
    margin: 0px 50px;
    padding: 15px;
  }
  .header{
    color: #2020df;
    background-color: #b3f3d0;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }